
/* Phone Screens */
@media only screen and (max-width: 767.98px) {
    /* banner start */
    main {
        width: 100%;
        margin: auto;
    }
    section {
        margin-bottom: 60px;
    }
    .top {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .left-content {
        width: 90%;
        padding: 15px 40px;
    }
    .left-content h1 {
        font-size: 22px;
        margin-bottom: 5px;
    }
    .left-content p {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .left-content i {
        font-size: 20px;
        margin-left: 0;
    }
    .left-content a:hover i {
        transform: translateX(30%);
    }
    .left-content button {
        padding: 5px 10px;
    }
    .right-content {
        width: 60%;
    }

    /* blog section start */
    .blog-contents {
        display: flex;
        flex-direction: column;
    }
    .blog-left-content {
        width: 312px;
        margin: 0 auto 10px;
        border-radius: 10px;
    }
    .blog-right-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 20px;
    }
    .nav {
        background-color: #ffffff;
        padding: 0 50px;
        border-radius: 10px;
    }
    .nav a {
        margin: 10px 0;
        padding: 12px 0px;
    }
    .view {
        display: none;
    }

    /* footer start */
    .footer-inner {
        padding: 60px 0;
    }
    .footer-inner h1 {
        font-size: 16px;
    }
    .footer-nav {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .footer-nav h5 {
        margin-bottom: 20px;
    }
    .footer-nav h5:last-child {
        margin-bottom: 0px;
    }
    .social ul li {
        padding: 5px 10px;    
    }
}

/* Tablet Screen */
@media only screen and (min-width: 768px) and (max-width: 1023.98px) {
    main {
        width: 90%;
        margin: auto;
    }
    section {
        margin-bottom: 80px;
    }
    .top {
        display: flex;
    }
    .left-content {
        width: 50%;
        padding: 25px 40px;
    }
    .left-content h1 {
        font-size: 40px;
    }
    .left-content p {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .left-content i {
        font-size: 20px;
        margin-left: 5px;
    }
    .left-content a:hover i {
        transform: translateX(50%);
    }
    .left-content button {
        padding: 10px 20px;
    }
    .right-content {
        width: 40%;
    }

    /* blog section start */
    .blog-contents {
        display: flex;
        flex-direction: column;
    }
    .blog-left-content {
        width: 100%;
        margin: 0 auto 10px;
        border-radius: 10px;
    }
    .blog-right-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }
    .nav {
        display: flex;
        justify-content: space-around;
        background-color: #ffffff;
        /* padding: 0 50px; */
        border-radius: 10px;
    }
    .nav a {
        margin: 0;
        padding: 15px 50px;
    }
    .view {
        display: block;
    }
    
    /* footer start */
    .footer-inner {
        padding: 80px 0;
    }
    .footer-inner h1 {
        font-size: 40px;
    }
    .footer-nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
    }
    .footer-nav h5 {
        margin-bottom: 20px;
    }
    .footer-nav h5:last-child {
        margin-bottom: 0px;
    }
}

/* PC, Laptop Screen */
@media only screen and (min-width: 1024px) {
    .view {
        display: none;
    }    
}